## Don't add large TIFF figure files ## 
*.tiff

## Ignore any notebook that is just me testing
*_test.ipynb

## Ignore any notebok that is an old version
*_old.ipynb

## Ignore this large file
*Tecan_qtlruns_Jan162019_curated_baselined_median51_QTL_x_time.csv.gz

## Remove checkpoints
.ipynb_checkpoints

## Don't add permutation null distributions
*_null.csv
*_null.csv.gz

## Ignore the gene files
./DATA/GENOTYPE/GENES/*/*.csv.gz
